# MongoDB Connection URL
# If running locally and you have MongoDB installed:
MONGODB_URL=mongodb://localhost:27017/cipherschool

# If using MongoDB Atlas (Cloud), uncomment the line below and replace with your actual details:
# MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/cipherschool

# JWT Secret
JWT_SECRET=fhgsefuilhgvsdfhvldgvigdfbkuvgdyukbyudglvsg
